.collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

.nav-link{
  font-family: "fuente1";
  font-size: 1.3rem;
}
}

.pie{
  @extend %redsocial;
}
.redesSociales{
  @extend %iconosred;

  .fa-brands{
    padding: 0.8rem;
    border-radius: 20px;
  }
}

$redes: (
    facebook: blue,
    instagram: rgb(140, 26, 121),
    whatsapp: green
  );

@each $redsocial,$colordered in $redes {
.fa-#{$redsocial} {
background-color: $colordered;}
} 
