.collapse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

.nav-link{
  font-family: "fuente1";
  font-size: 1.3rem;
}

}

.collapse .navbar-collapse{
  display: flex;
  justify-content: center;
}


.pie{
  display: flex;
   justify-content: center; 
    background-color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-block: 20px;

    a{
      color: white;
      font-size: 20px
    }

    a:hover {
      transform: scale(1.1);
    }

    .redesSociales{
      display: flex;
      align-items: center;
      gap: 2rem;
    
    }

    .fa-brands{
      padding: 1rem;
      border-radius: 20px;
    }
}


$redes: (
    facebook: blue,
    instagram: rgb(140, 26, 121),
    whatsapp: green
  );

@each $redsocial,$colordered in $redes {
.fa-#{$redsocial} {
background-color: $colordered;}
} 
