* {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    box-sizing: border-box;
  }
  @font-face {
      font-family:"fuente1";
      src: url(../../assets/Fonts/Bangers/Bangers-Regular.ttf);
  }
  
  @font-face {
      font-family:"fuente2";
      src: url(../../assets/Fonts/black_ravens/BlackRavens.otf);
  }

  section{
    background-image:url(.././../assets/Fondos/fondocemento.jpg);
    background-size: contain;}

  .btnPedidos {
    position: fixed;
    bottom: 10%;
    right: 0px;
    z-index: 999999;
    background: #000000;
    color: #ffffff;
    font-size: 30px;
    line-height: 27px;
    font-weight: bolder;
    border-radius: 15px 0 0 15px;
    padding: 20px 40px 20px 25px;
    a {
      color: #ffffff;
      text-decoration: none;
      font-family:"fuente2";
    }
  }

