* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  @font-face {
      font-family:"fuente1";
      src: url(../../assets/Fonts/Bangers/Bangers-Regular.ttf);
  }
  
  @font-face {
      font-family:"fuente2";
      src: url(../../assets/Fonts/black_ravens/BlackRavens.otf);
  }


  section {
    background-image:url(.././../assets/Fondos/fondocemento.jpg);
  }