@import "./partials/reset";

@import "./partials/footer--header";

@import "./partials/tittlesecciones";

@import "./partials/variables.scss";

@import "./partials/cajaburger";





//**HAMBURGUESAS**//



//*HAMBURGUESAS**//





//*SUCURSALES**//

.titulo__Sucursales {
  display: flex;
  justify-content: center;
  font-family:"fuente2";
  color: #000000;
  font-size: 85px;
}

.contenedorMapas {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .tituloMapa {
    text-align: center;
    font-family:"fuente1";
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



//**SUCURSALES**//






//**SOBRE NOSOTROS**//


.h1Nosotros {
  font-family:"fuente2";
  color: #000000;
  text-align: center;
  font-size: 500%;
}

.contenedorNosotros {
  display: flex;
  align-items: center;
  padding-bottom: 100px;

  .imgNosotros {
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
  }

  .parrafoNosotros {
    font-family:"fuente1";
    color: #000000;
    margin: 0%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 150%;
  }
}


//**SOBRE NOSOTROS**//




//**CONTACTO**//

.sectionContacto {
  background-size: cover;
  padding-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1Contacto {
  font-family:"fuente2";
  color: #000000;
  text-align: center;
  font-size: 500%;
  padding-bottom: 5%;
}

.contenedorContacto {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;

  .formContacto {
    width: 1000px;
    margin: auto;
    max-width: 400px;
  }

  .form_input {
    font-family:"fuente1";
    font-size: 2rem;
    text-align: center;
    outline: none;
  }

  .form__input--message {
    font-family:"fuente1";
    font-size: 2rem;
    text-align: center;
    resize: none;
    outline: none;
  }

  .buttonContacto {
    background-color: #4a4a4a;
    font-family:"fuente1";
    font-size: 2rem;
    border: none;
    font-weight: 200;
    border-radius: 0.2em;
    cursor: pointer;
  }

  .buttonContacto:hover {
    transform: scale(1.1);
  }
}

//**CONTACTO**//




//**MEDIA QUERIES**//



@media screen and (max-width:720px)
{
.titulo__Sucursales{
text-align: center;
}


    .contenedorNosotros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;}

        .imgNosotros {
          width: 50px;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 100px;
        }
      
        .parrafoNosotros {
          font-family:"fuente1";
          text-align: center;
          color: #000000;
          margin: 0%;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 150%;}
}
@media screen and (max-width:480px){

  .contenedorTittle {
    display: flex;
    justify-content: center;
  
  .imgTittle{
    width: 50%;
  }
}
.contenedorNosotros{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
.imgNosotros{
    width: 100%;
}
.parrafoNosotros {
    text-align: center;
    color: #000000;
    margin: 0%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 150%;}


}
    }



 @media screen and (max-width:320px){

  .contenedorTittle {
    display: flex;
    justify-content: center;
  
  .imgTittle{
    width: 100%;
  }
  }
  .contenedorNosotros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .imgNosotros{
       width: 75%;
      }
    
    .parrafoNosotros {
      text-align: center;
      color: #000000;
      margin: 0%;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 100%;}

    }
  }


//**MEDIA QUERIES**/